{% extends "layout.html" %}
{% block mainContent %}
<div id=aboutmaincontent>
<span id="light-starling-name"> 
<p>Vas</p>
<img 
    id="light-starling-headshot"
    src="http://i50.tinypic.com/2uqktpc.gif">
</span>

<span id="different-cat-name">
<p>Ethan</p>
<img  
    id="different-cat-headshot"
    src="http://vignette3.wikia.nocookie.net/campjupiter/images/c/c4/Stick_figure.gif/revision/latest?cb=20140208204213">
</span>

<span id="clever-newt-name"> 
<p>Karan</p>
<img 
    id="clever-newt-headshot" 
    src="http://www.animatedimages.org/data/media/1528/animated-stick-figure-image-0041.gif">
</span>
</div>
{% endblock %}