

<html>

<!--
{% extends "layout.html" %}
{% block mainContent %}
-->

<body>
    
<h1>light-starling-vas</h1>
<img src="http://orig02.deviantart.net/9a7d/f/2014/271/2/8/kenny_m9_by_xanyleaves-d80vrvf.png" 
    id="light-starling-headshot"
    style="width:304px;height:228px;">

<h2>different-cat-ethan</h2>
<img src="http://vignette1.wikia.nocookie.net/southpark/images/9/9d/Tweek_pic.png/revision/latest?cb=20160402115548" 
    id="different-cat-headshot"
    style="width:304px;height:228px;">

<h3>clever-newt-karan</h3>
<img src="http://southparkstudios.mtvnimages.com/shared/characters/adults/randy-marsh.png?height=165" 
    id="clever-newt-headshot"
    style="width:304px;height:228px;">

</body>

<!--
{% endblock %}
-->

</html>