<html>

<!--
{% extends "layout.html" %}
{% block mainContent %}
-->

<head>
    <h1>About us!</h1>
</head>

<body>

<span id="light-starling-vas"> 
<p>Vas</p>
<img src="http://orig02.deviantart.net/9a7d/f/2014/271/2/8/kenny_m9_by_xanyleaves-d80vrvf.png" 
    id="light-starling-headshot"
    style="width:400px;height:200px;">
</span>

<span id="different-cat-ethan">
<p>Ethan</p>
<img src="http://vignette1.wikia.nocookie.net/southpark/images/9/9d/Tweek_pic.png/revision/latest?cb=20160402115548" 
    id="different-cat-headshot"
    style="width:200px;height:200px;">
</span>

<span id="clever-newt-karan"> 
<p>Karan</p>
<img src="http://southparkstudios.mtvnimages.com/shared/characters/adults/randy-marsh.png?height=165" 
    id="clever-newt-headshot"
    style="width:400px;height:200px;">
</span>

</body>

<!--
{% endblock %}
-->

</html>