{% extends "layout.html" %}
{% block mainContent %}

<div id=eventdetailmainblock>

<h1 id= "title" >{{event.title}} </h1>
<!-- <img src= {{event.image}} id="image" align="left" style="margin-right: 65px; margin-left: 20px"> -->
<img src= {{event.image}} id="image">

<div id=eventdetailtextblock>
<b>TIME:</b>
<span id=date>{{event.date}}</span>
<p></p>
<b>LOCATION:</b>
<span id=location>{{event.location}}</span>
<br></br>
{% if event.attending.length > 0 %}
    <h3> Who's Attending? </h3>
    <ul id="attendees"> 
    {% for atendee in event.attending%}
        <li><i>{{atendee}}</i></li>
    {% endfor %}
    </ul>
{% endif %}
</div>

<div id=rsvptextblock>
{% if errors %}
    <ul class="form-errors">
      <p>Please correct the following errors!</p>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
    </ul>
  {% endif %}
<h3> RSVP here: </h3>
<form id=rsvpform method="POST">
    <input type="text" name="email" id="email" placeholder="Your Email" />
    <input type="Submit" value="Submit" />
</form>
</div>
</div>
{% endblock %}