<html>

{% extends "layout.html" %}

{% block header %}
  <header>
    <div id=headertextindex>
    <h3>Always be yourself!</h3>
    <h1>UNLESS YOU CAN BE BATMAN</h1>
    <h2>Then always be Batman!</h2>
    <h3></h3>
    </div>
  </header>
{% endblock %}


{% block mainContent %}
<style>
        .container {
        background-image: url(events/img/harley.jpg);
        }
</style>

<div id=indexmaincontent>
  <p>
    The best place for Yale's comic-related events. Marvel fans are welcome, but judged appropriately.
  </p>

  <img id="logo" src="http://i0.kym-cdn.com/photos/images/original/000/481/746/25c.png">

  <p>
    What's coming up:
  </p>
  
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  
  <p>
    Create an amazing <a id="new" href="/events/new">new event</a>
  </p>

  <p>
    Check out all of our <a href="/events">epic events</a>
  </p>
  
</div>  
{% endblock %}

</html>