<html>

{% extends "layout.html" %}

{% block header %}
  <header>
    <h1>{{ title }} FTW</h1>
  </header>
{% endblock %}


{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>

<img  
    id="logo"
    src="http://cdn.ebaumsworld.com/picture/DevinDamnation/ManBearPig.png">

  <p>Here is our super-awesome-exciting events list!</p>
  <div style="border: 1px solid black">
    {% include "fragments/events-list.html" %}
  </div>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}

</html>