<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    
  </head>

	<body class="container">

    {% block header %}
      <header>This is the best site ever made</header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
        <a href="/">Home</a>
        <br>
        <a href="/about">About us</a>
      </footer>
    {% endblock %}

  </body>
</html>