<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head>

	<body class="container">

    {% block header %}
      <header>Hey, I'm in the header</header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>This be the footer.</footer>
    {% endblock %}

  </body>
</html>